.lorem {
  display: flex;
  flex-direction: column;


  &__item {
    width: 270px;
    padding-right: 30px;
  }

  &__header {
    padding-top: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--agency-mediumgrey);
  }

  &__svg {
    width: 270px;
    height: 120px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    background-color: var(--agency-svg-grey);
  }
}
@media screen and (min-width:768px){
  .lorem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__item {
      flex-basis: calc(760px / 2)}
  }
}
@media screen and (min-width:1200px){
  .lorem{
    display: flex;
    flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
    // &__item {
    //   display: flex;}
  }
}