.our-clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  &__client {
    display: flex;
    width: 210px;
    flex-basis: calc(100% / 2);
  }

  &__icon {
    width: 210px;
    height: 92px;
    border: 1px solid #afb1bb;
    border-radius: 8px;
    padding: 15px 30px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & * {
      fill: #afb1b8;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover * {
      fill: #2196f3;
    }

    &:hover {
      border: 1px solid #2196f3;
      fill: #2196f3;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px){ 
  .our-clients {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;

    &__client {
      flex-basis: calc(100%/ 3);
    }
    &__icon {
    width: 226px;
    height: 92px;}
  }}


@media screen and (min-width: 1200px) {
  .our-clients {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  

  &__icon {
    width: 170px;
    height: 92px;
  }}
}
