*,
*::before,
*::after {
  list-style: none;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --agency-blue: #2196f3;
  --reg-white: #ffffff;
  --agency-grey: #2f303a;
  --agency-lightgrey: #f5f4fa;
  --reg-black: #000000;
  --agency-background-color: #e5e5e5;
  --agency-mediumgrey: #757575;
  --secondary-header-color: #212121;
  --header-border: #ececec;
  --borders: #eeeeee;
  --agency-background: #202020;
  --agency-svg-grey: #f5f4fa;
  --agency-svg-background: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--reg-white);
  color: var(--secondary-header-color);
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--secondary-header-color);
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h2 {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  padding-top: 50px;
}


.containter{
  min-width: 320px;
  max-width: 100%;
  padding: 30px auto;
  margin: 30px auto;
}
@media screen and (min-width:768px) {
  .containter {
    max-width: 768px;
    margin: 30px auto;
    padding: 30px auto;
  }
}
@media screen and (min-width:1200px) {
  .containter {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px auto;
  }
}

.section {
  padding: 0 31px;
}

// .container {
//   width: 1200px;
//   margin: 0 auto;
// } 

// .section {
//   padding: 94px 0;
// }
